.content-header>h1{
	margin:0;font-size:24px;  background: #fff;
    padding: 6px;
    border: 1px solid #00a65a !important;
    border-radius: 5px !important;
    }
.content-header>.breadcrumb {
    top: 20px!important;
    right: 15px!important;
}

.chart {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.chart svg,
.chart canvas {
  width: 100%!important;
}