/*--
Author: DesignMaz
Author URL: https://www.designmaz.net
License URL: https://www.designmaz.net/licence/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login form start here--*/ 

body {
   background: url(../images/bg.jpg);
   -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
   font-family: 'Roboto', sans-serif;
   font-size: 100%;
   
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 3em 0em 1em 0em;
}
.login-main{
  width: 35%;
  background: #fff;
  border:2px solid #00a65a;
    margin-top: 50px!important;
  margin: 1em auto;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
  text-align: center;
}
.login-password {
  background: #00a65a;
  padding: 1.3em 0em;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius:0px 0px 5px 5px;
  -moz-border-radius:0px 0px 5px 5px;
  -o-border-radius:0px 0px 5px 5px;
}
.login {
  padding: 2em;
}
.social {
  padding: 1em 0em;
}
.social ul li {
  display: inline-block;
}
.social ul li a{
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.social ul li a.face {
  background: url(../images/facebook.png)no-repeat 5px 7px #3b5998;
  padding: 0.5em 1em 0.5em 1.9em;
}
.social ul li a.loginicon {
  background: url(../images/loginicon.png)no-repeat 8px 6px #00a65a;
  padding: 0.5em 1em 0.5em 2.2em;
}
.social ul li a.face:hover {
  background: url(../images/facebook.png)no-repeat 5px 7px #24407B;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 8px 6px #00BBFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.login input[type="text"] {
  outline: none;
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
  padding: 9px 10px 9px 10px;
  border: 1px solid #ccc;
  width: 100%;
  border:2px solid #00a65a;
  margin: 1em 0em 1em 0em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-appearance: none;
}
.login input[type="password"] {
  outline: none;
  font-size: 0.9em;
  font-weight: 400;
  color: #000;
  padding: 9px 10px 9px 10px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0em 0em 1em 0em;
  border:2px solid #00a65a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-appearance: none;
}
.login input.name {
  margin: 0em;
}
.login ul li.last-mar {
  margin: 0em;
}
ul.button {
  padding: 1em 0em;
}
ul.button li {
  display: inline-block;
}
ul.button li input[type="submit"] {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background:green;
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  cursor:pointer;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
}
ul.button li input[type="submit"]:hover {
  background: #33A0C8;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
ul.button input.clear[type="reset"] {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background: #00a65a;
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius:  0px 10px 10px 0px;
  -moz-border-radius:  0px 10px 10px 0px;
  -o-border-radius:  0px 10px 10px 0px;
}
ul.button input.clear[type="reset"]:hover {
	background: #aa1100;
}
a.green {
  background: #8ad0d9;
  border-radius: 0px 10px 10px 0px;
   -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
  
}
a.green:hover {
  background: #2CCCE0;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.forgot-para a p {
  font-size: 0.94em;
  font-weight: 400;
  color: #999;
  text-decoration: underline;
}
.forgot-para a p:hover {
	color:#b20a0a;
	text-decoration: none;
}
.forgot-para {
  float: right;
}
label.checkbox {
  float: left;
}
.forgot input[type="checkbox"] {
  display: none;


}
.forgot.checkbox input {
	position: absolute;
	left: -9999px;
}
.forgot.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	
}
.forgot.checkbox i:hover {
	border-color:red;
	
}
.forgot i:before {
	background-color: #2da5da;	
}
.forgot  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.forgot .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.forgot .checkbox input + i:after {
  content: url(../images/tick.png) no-repeat 7px 1px;
  top: 1px;
  left: -1px;
  width: 15px;
  height: 15px;
}
.forgot .checkbox {
	padding: 6px 0px 0px 27px;
	font-size: 15px;
	font-weight: 500;
	line-height: 5px;
	color:#737373;
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
}
.forgot .checkbox:hover {
	text-decoration: none;
}
.forgot .checkbox i {
  position: absolute;
  top: 1px;
  left: 6px;
  display: block;
  width: 14px;
  height: 14px;
  outline: none;
  border: 1px solid #B3B2B2;
  /* border-radius: 4px; */
  background: #fff;
}
.forgot  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.forgot .checkbox input + i:after {
	color: #2da5da;
}
.forgot.checkbox input:checked + i,
.forgot . input:checked + i {
	border-color: #2da5da;	
}
.forgot .rating input:checked ~ label {
	color: #2da5da;	
}

.forgot .checkbox input:checked + i:after {
	opacity: 1;
}
.forgot {
  padding: 1em 0em 0em 0em;
}
.login-password p {
  font-size: 1.05em;
  font-weight: 500;
  color: #F7F7F7;
}
.login-password p a {
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.login-password p a:hover {
  color: rgba(233, 205, 0, 1);
  
}
.copyright {
  margin: 10em 0em 0em 0em;
  text-align: center;
}
.copyright p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
.copyright p a{
  font-size: 1em;
  font-weight: 400;
  color: #FFF;
}
.copyright p a:hover{
	color: #00a65a;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--meadia quiries start here--*/
@media(max-width:1440px){
.subscribe input[type="text"] {
  width: 41%;
}
.subscribe input.email {
  width: 90%;
}
.login-main {
  width: 31%;
}
.copyright {
  margin: 7em 0em 2em 0em;
}
.social ul li a.twit {
  padding: 0.5em 1.7em 0.5em 2.2em;
}

}
@media(max-width:1366px){
.social ul li a.twit {
  background: url(../images/twitter.png)no-repeat 12px 6px #00a65a;
  padding: 0.5em 0.8em 0.5em 2.3em;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 12px 6px #00BBFF;
}

.social ul li a.face {
  
  padding: 0.5em 0.8em 0.5em 1.5em;
}
.copyright {
  margin: 4em 0em 0em 0em;
}
h1 {
  margin: 2em 0em 1em 0em;
}
}
@media(max-width:1280px){
.subscribe {
  width: 38%;
}
.social ul li a.face {
  background: url(../images/facebook.png)no-repeat 5px 7px #3b5998;
  padding: 0.5em 1em 0.5em 2em;
}
.social ul li a.twit {
  background: url(../images/twitter.png)no-repeat 6px 6px #00a65a;
  padding: 0.5em 1em 0.5em 2em;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 6px 6px #00BBFF;
}

.login-main {
  width: 34%;
}
}
@media(max-width:1024px){
.login-main {
  width: 42%;
}
h1 {
  font-size: 2em;
  margin: 1em 0em 1em 0em;
}
.copyright {
  margin: 7em 0em 0em 0em;
}
}
@media(max-width:768px){
.login-main {
  width: 55%;
}
h1 {
  margin: 5em 0em 1em 0em;
}
.copyright {
  margin: 13em 0em 0em 0em;
}
.social ul li a.face {
  padding: 0.5em 1em 0.5em 1.4em;
}

ul.button li input[type="submit"],ul.button input.clear[type="submit"] {
  font-size: 0.9em;
}
ul.button li a {
  font-size: 0.9em;
}
}
@media(max-width:736px){
.social ul li a.twit {
  background: url(../images/twitter.png)no-repeat 9px 5px #00a65a;
  padding: 0.5em 1em 0.5em 2.7em;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 9px 5px #00BBFF;
}
	
.social ul li a.face {
  padding: 0.5em 1em 0.5em 2em;
}

.social ul li a {
  font-size: 0.9em;
}
ul.button li input[type="submit"] {
  font-size: 0.9em;
}
ul.button li a {
  font-size: 0.9em;
}
}
@media(max-width:667px){
.login {
  padding: 1em;
}
.social ul li a.twit {
  padding: 0.5em 1em 0.5em 2.3em;
}	

.social ul li a.face {
  padding: 0.5em 1em 0.5em 1.8em;
}
}
@media(max-width:640px){
.login-main {
  width: 66%;
}	
.social ul li a {
  font-size: 0.9em;
}
h1 {
  margin: 3em 0em 1em 0em;
}
.copyright {
  margin: 10em 0em 2em 0em;
}
.social ul li a.face {
  padding: 0.5em 1em 0.5em 3.7em;
}
.social ul li a.twit {
  padding: 0.5em 1em 0.5em 3.7em;
}

}
@media (max-width: 600px){
.social ul li a.face {
  padding: 0.5em 1em 0.5em 2.7em;
}
.social ul li a.twit {
  padding: 0.5em 1em 0.5em 2.7em;
}
}
@media(max-width:568px){
.social ul li a.face {
  padding: 0.5em 1em 0.5em 2.05em;
}
.social ul li a.twit {
  padding: 0.5em 1em 0.5em 2.5em;
}

}
@media(max-width:480px){
h1 {
  margin: 1em 0em 1em 0em;
  font-size: 1.5em;
}
.login-main {
  width: 83%;
}
.copyright p {
  font-size: 0.9em;	
}
.login {
  padding: 1.5em;
}
.social ul li a.face {
  padding: 0.5em 1em 0.5em 3.05em;
}

}
@media(max-width:414px){
.forgot-para a p {
  font-size: 0.8em;	
}
.forgot .checkbox {
  font-size: 13px;
}

.social ul li a.twit {
   background: url(../images/twitter.png)no-repeat 4px 6px #00a65a;
  padding: 0.5em 0.4em 0.5em 1.4em;
}
.social ul li a.face {
 background: url(../images/facebook.png)no-repeat 0px 6px #3b5998;
  padding: 0.5em 0.5em 0.5em 1.3em;
}
.social ul li a.face:hover {
  background: url(../images/facebook.png)no-repeat 0px 7px #24407B;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 4px 6px #00BBFF;
}

}
@media(max-width:384px){
.social ul li a.face {
  background: url(../images/facebook.png)no-repeat 43px 6px #3b5998;
  padding: 0.5em 3.5em 0.5em 5.5em;
}
.social ul li a.face:hover {
  background: url(../images/facebook.png)no-repeat 43px 6px #24407B;
}

.social ul li a.twit {
  background: url(../images/twitter.png)no-repeat 41px 6px #00a65a;
  padding: 0.5em 5em 0.5em 5.4em;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 41px 6px #00BBFF;
}	
	
.social ul li {
  margin: 0px 0px 20px 0px;
}
.forgot .checkbox {
  font-size: 12px;
}
.forgot-para a p {
  font-size: 0.7em;
}
}
@media(max-width:375px){
.social ul li a.face {
  padding: 0.5em 3.5em 0.5em 5em;
}	

.social ul li a.twit {
  padding: 0.5em 4.7em 0.5em 5em;
}

}
@media(max-width:320px){
.login-main {
  width: 95%;
}
.social ul li {
  margin: 0em 0em 1.3em 0em;
}	
.social ul li a.face {
  background: url(../images/facebook.png)no-repeat 25px 7px #3b5998;
  padding: 0.5em 4em 0.5em 5.1em;
}
.social ul li a.face:hover {
  background: url(../images/facebook.png)no-repeat 25px 7px #24407B;
}

.social ul li a.twit {
  background: url(../images/twitter.png)no-repeat 25px 7px #00a65a;
  padding: 0.5em 5em 0.5em 5.2em;
}
.social ul li a.twit:hover {
  background: url(../images/twitter.png)no-repeat 25px 7px #00BBFF;
}

ul.button li input[type="submit"],ul.button input.clear[type="submit"] {
  font-size: 0.75em;
}
.login input[type="text"] {
  font-size: 0.7em;
  width: 90%;
  padding: 6px 10px 6px 10px;
  margin: 0.5em 0em 1em 0em;
}
.login input[type="password"] {
  font-size: 0.7em;
  padding: 6px 10px 6px 10px;
  width: 90%;
  margin: 0em 0em 0.5em 0em;
}
ul.button li a {
  font-size: 0.8em;
  padding: 0.5em 1em;
}
.forgot {
  padding: 0em 0em 0em 0em;
}
.forgot .checkbox i {
  position: absolute;
  top: 0px;
  left: 0px;
}
.forgot .checkbox {
  padding: 6px 0px 0px 16px;
  font-size: 10.5px;
}
.login-password {
  padding: 0.8em 0em;
}
.forgot-para a p {
  font-size: 0.7em;
}
.login-password p {
  font-size: 0.85em;
}
.copyright {
  margin: 3em 0em 0em 0em;
}
.forgot .checkbox input + i:after {
  left: -2px;
}
h1 {
  font-size: 1.3em;
}
}
/*--meadia quiries end here--*/